body {
  margin: 0;
  color: #0c36fb;
  background-color: #FAFDF3;
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #f1a1e3;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.right {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  text-align: right;
  background-color: #0c36fb;
}

.detour {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
}
.detour:hover {
  color: #f1a1e3;
}

img {
  object-fit: cover;
  width: 300px;
  height: 350px;
  border-radius: 0.5rem;
  /*box-shadow: 10px 15px #0c36fb;*/
}
img:hover{
  opacity: 0.9;
  box-shadow: 10px 15px #0c36fb;
}

.cards {
  padding-top: 100px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.cards div {
  display: inline-block;
  margin: 10px 5px;
}

.card1{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card2{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card3{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card4{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card5{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card6{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card7{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card8{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card9{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card10{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card11{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.card12{
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.socialmedia {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
  margin-left: -10px;
  color: transparent;
}
.coffee:hover p {
  color: white;
}
