body {
  color: #0c36fb;
  background-color: #FAFDF3;
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #f1a1e3;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  z-index: 3;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.right {
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: right;
  background-color: #0c36fb;
}

.quickview {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
}
.quickview:hover{
  color: #f1a1e3;
}

.wrapper {
  padding-left: 100px;
	position: sticky;
	top: 0;
	z-index: 1;
  padding-top: 100px;
  padding-bottom: 80px;
}
.wrapper div{
  display: inline-block;
  justify-content: left;
}
.wrapper button {
  display: inline-block;
  color: #0c36fb;
  border-color: #0c36fb;
  border-width: thin;
  background: #FAFDF3;
  padding: 10px 20px;;
  border-radius: 3px;
  transition: background 0.5s ease;
}
.wrapper button:hover {
  background-color: #0c36fb;
  color: white;
}

/*underline*/
.box--wide {
  padding-left: 100px;
  max-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
:root {
  --underline-intrinsic-width: 8;
  --underline-color: #f1a1e3;
  --underline-cap-width: 4px;
}
.heading span{
  display: inline;
  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(180deg, var(--underline-color), var(--underline-color)),
    var(--cap-image-left),
    var(--cap-image-right);
  background-position-x:
    calc(var(--underline-cap-width) * var(--underline-width-scale)),
    0,
    100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size:
    calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}
.heading2 {
  font-size: 150px;
  font-weight: bold;
  --underline-width: 40;
  --underline-offset-y: -30px;
  --cap-image-left: url(https://files-6lc03kjqt.now.sh/left-2.svg);
  --cap-image-right: url(https://files-e7gkh52mq.now.sh/right-2.svg);
}

/*arrow*/
.arrow{
    position: relative;
    padding: 0;
    margin: 0 0 0 1300px;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #0c36fb;
    border-right: 5px solid #0c36fb;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.fa {
  margin-top: 100px;
  margin-bottom: 0;
  float: left;
}
.fa:hover{
  color: #f1a1e3;
}

h1 {
  margin-left: 100px;
  font-size: 45px;
  writing-mode: vertical-lr;
  line-height: .9;
  margin-top: 150px;
  float: left;
  /*opacity: 50%;*/
}
.linkcolor a:visited{
  color: #0c36fb;
}

h2{
  padding-left: 100px;
  padding-top: 30px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 250px;
}

#rotate {
  transform: rotate(180deg);
}
#rotate:hover {
  color: #0c36fb;
}

.flip-card {
  margin: 100px 0 100px 700px;
  width: 450px;
  height: 600px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.flip-card-front {
  background-color: #0c36fb;
  color: white;
  box-shadow: 0 10px 30px 0 rgba(255,192,203);
}
.flip-card-back {
  margin-top: 0;
  background-color: #0c36fb;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0 10px 30px 0 rgba(255,192,203);
}
.flip-card-front img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.flip-card-back h2 {
  color: white;
  margin-top: 1.25rem;
  padding: 10rem;
  font-size: 50px;
  /*text-align: left;*/
}
.flip-card-back a {
  text-decoration: none;
}

#tri {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-right: 250px solid #f1a1e3;
    border-bottom: 80px solid transparent;
    z-index:-1;
}


/*location icon in html: <i class= "fa fa-location-arrow fa-3x"> </i>*/
